<div class="cont w-50 mx-auto">
    <h2>Please Enter Your Verfication Code </h2>

        <div *ngIf="step1">
            <form [formGroup]="forgetFrom" (ngSubmit)="forgetPass()">
          
                <input formControlName="email" type="email" class="form-control" placeholder="email" >
                <p *ngIf="resetMessage" class="alert alert-danger p-2 my-3">
                    {{resetMessage}}
                </p>
               
                <button type="submit" class="btn btn-success my-2 d-block ms-auto">Verifiy</button>
            </form>
        </div>

        
        <div *ngIf="step2" >
            <form [formGroup]="resetCode" (ngSubmit)="codeReset()">
          
                <input formControlName="resetCode" type="text" class="form-control" placeholder="Reset Code" >
                <p *ngIf="resetMessage" class="alert alert-danger p-2 my-3">
                    {{resetMessage}}
                </p>
                <button  type="submit" class="btn btn-success my-2 d-block ms-auto">Verifiy</button>
            </form>
        </div>
        
        
        <div *ngIf="step3">
            <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
          
                <input type="password" class="form-control" formControlName="newPassword" placeholder="New Password" id="email">

                <button  type="submit" class="btn btn-success my-2 d-block ms-auto">Verifiy</button>
            </form>
        </div>






</div>